In [1]:
#Deletion, Insertion and Slicing of DataFrames
import pandas as pd

In [2]:
"""
1) Data Deletion -> pop( index ), del
2) Data Insertion   -> a) Direct Method,  b) join()
"""

'\n1) Data Deletion -> pop( index ), del\n2) Data Insertion   -> a) Direct Method,  b) join()\n'

In [8]:
pds1 = pd.Series( data = list( range(1, 10, 2) ), index = ['one', 'three', 'five', 'seven', 'nine'] )
pds2 = pd.Series( data = list( range(10, 20, 2) ), index = [ 'ten', 'twelve', 'forteen', 'sixteen', 'eighteen' ] )
pds3 = pd.Series( data = list( range(20, 30, 2) ), index = ['twenty', 'twentytwo', 'twentyfour', 'twentysix', 'twentyeight' ] )
pds4 = pd.Series( data = list( range(20, 30, 2) ), index = ['twenty', 'twentytwo', 'twentyfour', 'twentysix', 'twentyeight' ] )
pds5 = pd.Series( data = list( range(10, 20, 1) ), index = [ 'ten', 'eleven', 'twelve', 'thirteen', 'forteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen' ] )
pds6 = pd.Series( data = list( range(20, 30, 1) ), index = ['twenty', 'twentyone', 'twentytwo', 'twentythree', 'twentyfour', 'twentyfive', 'twentysix', 'twentyseven', 'twentyeight',  'twentynine' ] )

d = { 'Series1' : pds1, 'Series2' : pds2, 'Series3' : pds3, 'Series4' : pds4, 'Series5' : pds5, 'Series6' : pds6  }
pddf = pd.DataFrame( d )
print( f"pddf :- \n{ pddf }\n" )

pddf :-
             Series1  Series2  Series3  Series4  Series5  Series6
eighteen         NaN     18.0      NaN      NaN     18.0      NaN
eleven           NaN      NaN      NaN      NaN     11.0      NaN
fifteen          NaN      NaN      NaN      NaN     15.0      NaN
five             5.0      NaN      NaN      NaN      NaN      NaN
forteen          NaN     14.0      NaN      NaN     14.0      NaN
nine             9.0      NaN      NaN      NaN      NaN      NaN
nineteen         NaN      NaN      NaN      NaN     19.0      NaN
one              1.0      NaN      NaN      NaN      NaN      NaN
seven            7.0      NaN      NaN      NaN      NaN      NaN
seventeen        NaN      NaN      NaN      NaN     17.0      NaN
sixteen          NaN     16.0      NaN      NaN     16.0      NaN
ten              NaN     10.0      NaN      NaN     10.0      NaN
thirteen         NaN      NaN      NaN      NaN     13.0      NaN
three            3.0      NaN      NaN      NaN      NaN      NaN
twelve           NaN     12.0      NaN      NaN     12.0      NaN
twenty           NaN      NaN     20.0     20.0      NaN     20.0
twentyeight      NaN      NaN     28.0     28.0      NaN     28.0
twentyfive       NaN      NaN      NaN      NaN      NaN     25.0
twentyfour       NaN      NaN     24.0     24.0      NaN     24.0
twentynine       NaN      NaN      NaN      NaN      NaN     29.0
twentyone        NaN      NaN      NaN      NaN      NaN     21.0
twentyseven      NaN      NaN      NaN      NaN      NaN     27.0
twentysix        NaN      NaN     26.0     26.0      NaN     26.0
twentythree      NaN      NaN      NaN      NaN      NaN     23.0
twentytwo        NaN      NaN     22.0     22.0      NaN     22.0

In [9]:
#Data Deletion

#pop
s6 = pddf.pop('Series6')
print()
print( s6 )
print()
print( pddf )

eighteen        NaN
eleven          NaN
fifteen         NaN
five            NaN
forteen         NaN
nine            NaN
nineteen        NaN
one             NaN
seven           NaN
seventeen       NaN
sixteen         NaN
ten             NaN
thirteen        NaN
three           NaN
twelve          NaN
twenty         20.0
twentyeight    28.0
twentyfive     25.0
twentyfour     24.0
twentynine     29.0
twentyone      21.0
twentyseven    27.0
twentysix      26.0
twentythree    23.0
twentytwo      22.0
Name: Series6, dtype: float64

             Series1  Series2  Series3  Series4  Series5
eighteen         NaN     18.0      NaN      NaN     18.0
eleven           NaN      NaN      NaN      NaN     11.0
fifteen          NaN      NaN      NaN      NaN     15.0
five             5.0      NaN      NaN      NaN      NaN
forteen          NaN     14.0      NaN      NaN     14.0
nine             9.0      NaN      NaN      NaN      NaN
nineteen         NaN      NaN      NaN      NaN     19.0
one              1.0      NaN      NaN      NaN      NaN
seven            7.0      NaN      NaN      NaN      NaN
seventeen        NaN      NaN      NaN      NaN     17.0
sixteen          NaN     16.0      NaN      NaN     16.0
ten              NaN     10.0      NaN      NaN     10.0
thirteen         NaN      NaN      NaN      NaN     13.0
three            3.0      NaN      NaN      NaN      NaN
twelve           NaN     12.0      NaN      NaN     12.0
twenty           NaN      NaN     20.0     20.0      NaN
twentyeight      NaN      NaN     28.0     28.0      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN     24.0     24.0      NaN
twentynine       NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN     26.0     26.0      NaN
twentythree      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN     22.0     22.0      NaN

In [10]:

 #del
del pddf['Series5'] 
#del will do the action, Update the DataFrame and does not return any value
print( f"pddf :- \n{ pddf }\n" )

pddf :-
             Series1  Series2  Series3  Series4
eighteen         NaN     18.0      NaN      NaN
eleven           NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN
five             5.0      NaN      NaN      NaN
forteen          NaN     14.0      NaN      NaN
nine             9.0      NaN      NaN      NaN
nineteen         NaN      NaN      NaN      NaN
one              1.0      NaN      NaN      NaN
seven            7.0      NaN      NaN      NaN
seventeen        NaN      NaN      NaN      NaN
sixteen          NaN     16.0      NaN      NaN
ten              NaN     10.0      NaN      NaN
thirteen         NaN      NaN      NaN      NaN
three            3.0      NaN      NaN      NaN
twelve           NaN     12.0      NaN      NaN
twenty           NaN      NaN     20.0     20.0
twentyeight      NaN      NaN     28.0     28.0
twentyfive       NaN      NaN      NaN      NaN
twentyfour       NaN      NaN     24.0     24.0
twentynine       NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN
twentysix        NaN      NaN     26.0     26.0
twentythree      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN     22.0     22.0

In [20]:
#drop
        
#Delete specific rows :- pddf.drop( [ row1, row2, .., rown ], axis = 0 ) 
#Delete specific columns :- pddf.drop( [ col1, col2, .., coln ], axis = 1 )

In [25]:
#Data Insertion - we are going to insert series1 data + 2.\n",
#There are 3 method to add data in existing DataFrame.

#1) Direct Method, -> dataframe[ key/ new_col ] = panda Series
pddf['Series7'] = pddf['Series2'] + 10
print( f"pddf :- \n{ pddf }\n" )

pddf :-
             Series1  Series2  Series3  Series4  Series7
eighteen         NaN     18.0      NaN      NaN     28.0
eleven           NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      NaN      NaN      NaN
forteen          NaN     14.0      NaN      NaN     24.0
nine             9.0      NaN      NaN      NaN      NaN
nineteen         NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      NaN      NaN      NaN
seven            7.0      NaN      NaN      NaN      NaN
seventeen        NaN      NaN      NaN      NaN      NaN
sixteen          NaN     16.0      NaN      NaN     26.0
ten              NaN     10.0      NaN      NaN     20.0
thirteen         NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      NaN      NaN      NaN
twelve           NaN     12.0      NaN      NaN     22.0
twenty           NaN      NaN     20.0     20.0      NaN
twentyeight      NaN      NaN     28.0     28.0      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN     24.0     24.0      NaN
twentynine       NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN     26.0     26.0      NaN
twentythree      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN     22.0     22.0      NaN

In [27]:
#2) insert method - location + key(col_name) + data( panda Series )
#Syntax :- dataframe.insert( location, 'key', panda series )
pddf.insert( 2, 'Series8', pddf['Series2'] + 10 )
print( f"pddf :- \n{ pddf }\n" )

pddf :-
             Series1  Series2  Series8  Series3  Series4  Series7
eighteen         NaN     18.0     28.0      NaN      NaN     28.0
eleven           NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      NaN      NaN      NaN      NaN
forteen          NaN     14.0     24.0      NaN      NaN     24.0
nine             9.0      NaN      NaN      NaN      NaN      NaN
nineteen         NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      NaN      NaN      NaN      NaN
seven            7.0      NaN      NaN      NaN      NaN      NaN
seventeen        NaN      NaN      NaN      NaN      NaN      NaN
sixteen          NaN     16.0     26.0      NaN      NaN     26.0
ten              NaN     10.0     20.0      NaN      NaN     20.0
thirteen         NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      NaN      NaN      NaN      NaN
twelve           NaN     12.0     22.0      NaN      NaN     22.0
twenty           NaN      NaN      NaN     20.0     20.0      NaN
twentyeight      NaN      NaN      NaN     28.0     28.0      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0     24.0      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0     26.0      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0     22.0      NaN

In [33]:
#3) join method - ( for join by default the location is last position in dataset )
#join() will do the action but not update pddf. So, we will have to save the action in pddf.
#syntax :- data_fram1.join( data_frame2 )
series7 = pddf['Series2'] + 10

l = []
for i in pddf['Series2']:
    l.append( i )

series7 = pd.Series( data = l, index = pddf.index )
print( f"series7 :- \n{ series7 }\ntype( series7 ) :- \n{ type( series7 ) }\n" )

pds7 = pd.DataFrame( series7 )
pds7.columns = ['Series7']
print( f"pds7 :- \n{ pds7 }\ntype( pds7 ) :- \n{ type( pds7 ) }\n" )

pddf = pddf.join( pds7 )
print()
print( f"pddf = \n{ pddf }\n" )

series7 :-
eighteen       18.0
eleven          NaN
fifteen         NaN
five            NaN
forteen        14.0
nine            NaN
nineteen        NaN
one             NaN
seven           NaN
seventeen       NaN
sixteen        16.0
ten            10.0
thirteen        NaN
three           NaN
twelve         12.0
twenty          NaN
twentyeight     NaN
twentyfive      NaN
twentyfour      NaN
twentynine      NaN
twentyone       NaN
twentyseven     NaN
twentysix       NaN
twentythree     NaN
twentytwo       NaN
dtype: float64
type( series7 ) :-
<class 'pandas.core.series.Series'>

pds7 :-
             Series7
eighteen        18.0
eleven           NaN
fifteen          NaN
five             NaN
forteen         14.0
nine             NaN
nineteen         NaN
one              NaN
seven            NaN
seventeen        NaN
sixteen         16.0
ten             10.0
thirteen         NaN
three            NaN
twelve          12.0
twenty           NaN
twentyeight      NaN
twentyfive       NaN
twentyfour       NaN
twentynine       NaN
twentyone        NaN
twentyseven      NaN
twentysix        NaN
twentythree      NaN
twentytwo        NaN
type( pds7 ) :-
<class 'pandas.core.frame.DataFrame'>

ValueError: columns overlap but no suffix specified: Index(['Series7'], dtype='object')