In [35]:
#Arithmetic and Logical Operator on Pandas DataFrames
import pandas as pd

In [4]:
l1 = [200, 9000, 12, 67]
l2 = [2000, 900, 120, 670]

In [6]:
s1 = pd.Series( data = l1, index = ['one', 'two', 'three', 'four'] )
s2 = pd.Series( data = l2, index = ['one', 'two', 'three', 'four'] )
s3 = pd.Series( data = l2, index = ['one', 'two', 'three', 'five'] )

In [7]:
d2 = { 's1' : s1, 's2' : s2, 's3' : s3 }

In [21]:
pddf = pd.DataFrame( d2 )
pddf

           s1      s2      s3
five      NaN     NaN   670.0
four     67.0   670.0     NaN
one     200.0  2000.0  2000.0
three    12.0   120.0   120.0
two    9000.0   900.0   900.0

In [23]:
print( f"pddf['s1'] :- \n{ pddf['s2'] }\n" )
print( f"pddf['s2'] :- \n{ pddf['s2'] }\n" )
print( f"pddf['s3'] :- \n{ pddf['s3'] }\n" )
print()
print( f"pddf['s2'] + pddf['s3'] :- \n{ pddf['s2'] + pddf['s3'] }\n" )

pddf['s1'] :-
five        NaN
four      670.0
one      2000.0
three     120.0
two       900.0
Name: s2, dtype: float64

pddf['s2'] :-
five        NaN
four      670.0
one      2000.0
three     120.0
two       900.0
Name: s2, dtype: float64

pddf['s3'] :-
five      670.0
four        NaN
one      2000.0
three     120.0
two       900.0
Name: s3, dtype: float64


pddf['s2'] + pddf['s3'] :-
five        NaN
four        NaN
one      4000.0
three     240.0
two      1800.0
dtype: float64

In [29]:
add = []
for i in range( len( pddf.index ) ):
    print( f"i = { i }, pddf['s1'][i] = { pddf['s1'][i] }, pddf['s2'][i] = { pddf['s2'][i] } and pddf['s1'][i] + pddf['s2'][i] = { pddf['s1'][i] + pddf['s2'][i] }" )
    add.append( pddf['s1'][i] + pddf['s2'][i] )
print(add)

i = 0, pddf['s1'][i] = nan, pddf['s2'][i] = nan and pddf['s1'][i] + pddf['s2'][i] = nan
i = 1, pddf['s1'][i] = 67.0, pddf['s2'][i] = 670.0 and pddf['s1'][i] + pddf['s2'][i] = 737.0
i = 2, pddf['s1'][i] = 200.0, pddf['s2'][i] = 2000.0 and pddf['s1'][i] + pddf['s2'][i] = 2200.0
i = 3, pddf['s1'][i] = 12.0, pddf['s2'][i] = 120.0 and pddf['s1'][i] + pddf['s2'][i] = 132.0
i = 4, pddf['s1'][i] = 9000.0, pddf['s2'][i] = 900.0 and pddf['s1'][i] + pddf['s2'][i] = 9900.0
[  nan  737. 2200.  132. 9900.]

In [43]:
for i in range( len( pddf.index ) ):
    val1 = pddf['s2'][i]
    val2 = pddf['s3'][i]
    val3 = pddf['s1'][i]
    if( str( val1 ) == 'nan' ):
        pddf['s2'][i] = 0
    if (str( pddf['s3'][i] ) == 'nan'):
       pddf['s3'][i]= 0
    if (str( pddf['s1'][i] ) == 'nan'):
       pddf['s1'][i]= 0
#print(len(pddf.index))
pddf

5

           s1      s2      s3
five      0.0     0.0   670.0
four     67.0   670.0     0.0
one     200.0  2000.0  2000.0
three    12.0   120.0   120.0
two    9000.0   900.0   900.0

In [45]:
print( f"pddf['s1'] - pddf['s2'] :- \n{ pddf['s1'] - pddf['s2'] }\n" )
print( f"pddf['s1'] * pddf['s3'] :- \n{ pddf['s1'] * pddf['s3'] }\n" )

pddf['s1'] - pddf['s2'] :-
five        0.0
four     -603.0
one     -1800.0
three    -108.0
two      8100.0
dtype: float64

pddf['s1'] * pddf['s3'] :-
five           0.0
four           0.0
one       400000.0
three       1440.0
two      8100000.0
dtype: float64

In [47]:
print( f"pddf['s1'] > 100\n{ pddf['s1'] > 100 }\n" )
print( f"pddf['s1'] < 100 :- \n{ pddf['s1'] < 1000 }\n" )

pddf['s1'] > 100
five     False
four     False
one       True
three    False
two       True
Name: s1, dtype: bool

pddf['s1'] < 100 :-
five      True
four      True
one       True
three     True
two      False
Name: s1, dtype: bool

In [48]:
print( f"( pddf['s1'] > 100 ) & ( pddf['s1'] < 1000 ) :- \n{ ( pddf['s1'] > 100 ) & ( pddf['s1'] < 1000 ) }\n" )

( pddf['s1'] > 100 ) & ( pddf['s1'] < 1000 ) :-
five     False
four     False
one       True
three    False
two      False
Name: s1, dtype: bool